.homeRegisterBanner {
  color: #fff;
  background-color: var(--purple);
  white-space: pre-line;
  height: 20em;
  padding: 10em 10em 5em;
  display: flex;
  justify-content: space-between;
}

.homeRegisterBanner > div {
  width: 50%;
}

.homeRegisterBanner > .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeRegisterBanner > .text > div > h1 {
  font-size: 2.25em;
  font-weight: 700;
}

.homeRegisterBanner > .text > div > p {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.25em;
  margin: 2em 0 0;
}

.homeRegisterBanner > .image {
  text-align: right;
}

.homeRegisterBanner > .image > img {
  max-height: 100%;
}
